[Desktop Entry]
Name=Dynamic Window Manager
Comment=Dynamic window manager
Exec=dwm-start
Type=Application
Keywords=windowmanager;tiling
Terminal=false